<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>response</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [style.background]="background">
  <div class="main-container">
    <ion-item *ngIf="errorAnswer">
      <ion-label>{{errorAnswer}}</ion-label>
    </ion-item>

    <div *ngIf="!errorAnswer">
      <ion-item>
        <ion-label>Velocity: {{searchParams.velocity}}% of speed of light</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Travel duration: {{searchParams.travelTime}} years</ion-label>
      </ion-item>
      
      <ion-item>
        <ion-label>Time that passed on earth: {{this.timeDilation}} years</ion-label>
      </ion-item>

<!-- Info -->
      <ion-item>
        <ion-label>{{this.searchParams.destiny.display_name}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Distance from Earth: {{this.searchParams.destiny.st_dist}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Type: {{this.searchParams.destiny.planet_type}}</ion-label>
      </ion-item>

 
      <ion-note>{{this.searchParams.destiny.description}}</ion-note>
    

      <ion-button (click)="moreInfo()" fill="clear"> More info</ion-button>


    </div>

    <ion-button (click)="initPage()"> Go Home </ion-button>
  </div>
</ion-content>
