<ion-content [fullscreen]="true" [style.background]="background">
  <div class="main-container">
    <ion-item *ngIf="errorAnswer">
      <ion-label>{{errorAnswer}}</ion-label>
    </ion-item>

      <!-- Info -->
    <div id="response" *ngIf="!errorAnswer">

      <h1>{{this.searchParams.destiny.display_name}}</h1>

      <h3>{{searchParams.travelTime | number : '1.2-4'}} years at {{searchParams.velocity | number : '1.2-4'}}% of speed of light</h3>
      
      <h5>Time that passed on earth: {{this.timeDilation | number : '1.2-4'}} years</h5>

      <h6>Distance from Earth: {{this.searchParams.destiny.st_dist | number : '1.2-4'}} light years</h6>

      <p>Type: {{this.searchParams.destiny.planet_type}}</p>
 
      <ion-note>{{this.searchParams.destiny.description}}</ion-note>
      <hr>    

      <ion-button (click)="moreInfo()" fill="outline"> More info</ion-button>

    </div>

    <ion-button id="home" (click)="initPage()"> Go Home </ion-button>
  </div>
</ion-content>
