#general-container {
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(119, 72, 195, 1) 100%);
    color: white;
}

.searchbar-container {
    margin-bottom: 20%;
}

.search-title-container {
    margin-top: 5%;
}

.search-intro-container {
    margin-top: 5%;
    margin-bottom: 10%;
}

.input1,
.input2 {
    margin-top: 5%;
}