<ion-content id="general-container" [fullscreen]="true">
  <div class="main-container">
    <!-- TITLE SEARCH INPUT CONTAINER -->
    <div class="searchbar-container">
      <ion-item class="search-title-container">
        <h2>Star Bone App</h2>
      </ion-item>
      <ion-item class="search-intro-container">
        <p>Star Bone App will help you calculate your space travels in an easy, user friendly way.</p>
      </ion-item>

      <ion-item class="input1" fill="outline" shape="round">
        <ion-label position="floating">Velocity as a percentage of the speed of light</ion-label>
        <ion-input [(ngModel)]='searchParams.velocity' ngDefaultControl clear-input="true" inputmode="numeric"
          type="number" value="number" required="true">
        </ion-input>
      </ion-item>

    <ion-item *ngIf="!exoplanetsList">
      <ion-label>Loading destinations...</ion-label>
    </ion-item>

    <ion-item>
      <ion-select (ionChange)="selectDestiny($event)" label="Select a destination" fill="outline" 
      label-placement="floating" *ngIf="exoplanetsList">
        <ion-select-option *ngFor="let destiny of destinationsList; index as i" value="{{i}}">{{destiny.display_name}}</ion-select-option>
      </ion-select>
    </ion-item>
  
    <ion-item *ngIf="searchParams.destiny">
      <ion-label>{{searchParams.destiny.display_name}} - Distance: {{searchParams.destiny.st_dist}} ly </ion-label>
    </ion-item>
    
    <hr>
    <ion-note *ngIf="searchParams.destiny">{{searchParams.destiny.subtitle}}</ion-note>
    <hr>

    <ion-button (click)="resolve()"> resolve </ion-button>
  </div>
</ion-content>